{% extends "base.html.twig" %}
{% block title %}PAGE 404
{% endblock %}
{% block content %}
	<main>
		<p>Erreur 404</p>
		<p>La page que vous cherchez n'existe pas</p>
		<p>{{url}}</p>
		<a href="/">Retour à la page d'accueil</a>
	</main>
{% endblock %}
