<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/styles/main.css">
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>
		<header>
			<div>
				<img src="../public/images/logo.png" alt="Logo du blog">
				<p>Hugo Aloche</p>
			</div>
			<p>
				{% block pageTitle %}{% endblock %}
			</p>
			<div>
				<button>Se connecter</button>
				<button>S'inscrire</button>
			</div>
		</header>
		<main>
			{% block content %}{% endblock %}
		</main>
		<footer>
			footer
		</footer>
	</body>
	<script src="/scripts/index.js"></script>
</html>
